<h1><%=movieName%></h1>

<video controls width="500px"  src="<%=videoMagnet%>" data-path=""></video>


<script src="https://cdn.jsdelivr.net/npm/@webtor/player-sdk-js/dist/index.min.js" charset="utf-8" async></script>

              <!-- <a href="/watch/<%=model[i].slug%>/<%=model[i].torrents.hash%>/<%=model[i].name%>" class="btn btn-primary">Watch <%=model[i].name%> Year <%=model[i].year%> Size - <%=model[i].torrents.size%></a> -->
